doctype html
head(lang='zh-cn')
  meta(charset='UTF-8')
  |     
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  |     
  title 忘记密码
  |     
  link(rel='stylesheet', href='css/common.css')
  |     
  link(rel='stylesheet', href='css/main.css')
.head
  .head_box.password.clearfix
    .inner
      a.logo(href='javascript:;')
        img(src='images/logo.jpg', alt='亿友会')
        |                 
        span 亿友会·公众平台
.body.get_pwd
  .container_box
    .main_head.get_pwd
      h3.title
        | 忘记密码
    |         
    .main_body
      .get_pwd_formWrap
        form.reg_form(action='')
          .form_contral_group
            label.from_label(for='') 手机号
            |                         
            .form_controls
              span.form_input_box
                input.form_input(name='email', id='', type='text', placeholder='手机号')
              |                             
              p.form_msg.fail.disN 请输入正确的手机号
              |                             
              p.form_tips
                | 注册账号时所使用的手机号码
            |                         
            .verify_code_box
              span.btn.btn_default
                input(type='button', value='获取验证码')
          |                     
          .form_contral_group
            label.from_label(for='') 验证码
            |                         
            .form_controls
              span.form_input_box
                input.form_input(name='email', id='', type='text', placeholder='验证码')
              |                             
              .verifyimg_wrp
                img(src='images/verifycode.jpg', alt='')
                |                                 
                a(href='javascript:;') 换一张
              |                             
              p.form_msg.fail.disN 验证码错误
          |                     
          .form_contral_group
            label.from_label(for='') 新密码
            |                         
            .form_controls
              span.form_input_box
                input.form_input(name='email', id='', type='text', placeholder='新密码')
              |                             
              p.form_msg.fail.disN 请输入正确的手机号
              |                             
              p.form_tips
                | 设置您的新密码
          |                     
          .form_contral_group.submit
            span.btn.btn_primary.btn_input
              input(type='button', value='下一步')
            |                             
            span.btn.btn_default.btn_input.back
              input(type='button', value='返回')
.foot
  ul.link_list
    li
      a(href='##') 底部链接
    |         
    li
      a(href='##') 底部链接
    |         
    li
      a(href='##') 底部链接
    |         
    li
      a(href='##') 底部链接
    |         
    li
      a(href='##') 北京亿友会有限责任公司 京备 10003499 版本所有 Copyright © 2015-2016 . All Rights Reserved
